<a href="https://colab.research.google.com/github/rajubhai-R/Rainfall-Analysis/blob/main/Rainfall_Analysis_Across_India.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Rainfall Analysis Across India**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Import the data into Python environment as a Pandas DataFrame.

In [4]:
df_rain = pd.read_csv('rainfall.csv')
df_rain.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

### Check for missing values, if any and drop the corresponding rows.

In [10]:
df_rain[df_rain.isna().sum(axis =1)>=1]

#there are no rows with null values either accross rows or columns.

Empty DataFrame
Columns: [STATE_UT_NAME, DISTRICT, JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC, ANNUAL, Jan-Feb, Mar-May, Jun-Sep, Oct-Dec]
Index: []

### Find the district that gets the highest annual rainfall.

In [11]:
df_rain.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

In [26]:
df_rain[['DISTRICT','ANNUAL']].sort_values(by = 'ANNUAL',ascending=False).head(1)

      DISTRICT  ANNUAL
55  TAMENGLONG  7229.3

### Display the top 5 states that get the highest annual rainfall.

In [28]:
df_rain.head(1)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,1stQuarter
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1,230.4

In [32]:
df_rain.groupby(by = 'STATE_UT_NAME')['ANNUAL'].sum().sort_values(ascending=False).head()

STATE_UT_NAME
UTTAR PRADESH        67836.6
ASSAM                66267.7
MADHYA PRADESH       51615.5
ARUNACHAL PRADESH    46838.0
BIHAR                45621.1
Name: ANNUAL, dtype: float64

### Drop the columns 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'.

In [40]:
df_rain.drop(columns = ['Jan-Feb','Mar-May','Jun-Sep','Oct-Dec'],inplace=True)
#df_rain.drop(columns=['1stQuarter'],inplace = True)
df_rain

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0

### Display the state-wise mean rainfall for all the months using a pivot table.

In [42]:
df_rain.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7

In [46]:
df_rain_q4 = df_rain.drop(columns = ['DISTRICT','ANNUAL'])
#df_rain_q4
df_rain_q4 = df_rain_q4.melt(id_vars=['STATE_UT_NAME'], var_name='Month', value_name='Rainfall')

In [50]:
df_rain_q4.groupby(by = ['STATE_UT_NAME','Month'])['Rainfall'].mean()

STATE_UT_NAME                Month
ANDAMAN And NICOBAR ISLANDS  APR       86.966667
                             AUG      385.300000
                             DEC      159.733333
                             FEB       33.266667
                             JAN       61.233333
                                         ...
WEST BENGAL                  MAR       27.973684
                             MAY      139.489474
                             NOV       19.389474
                             OCT      124.373684
                             SEP      317.978947
Name: Rainfall, Length: 420, dtype: float64

### Display the count of districts in each state.

In [51]:
df_rain['STATE_UT_NAME'].value_counts()

STATE_UT_NAME
UTTAR PRADESH                  71
MADHYA PRADESH                 50
BIHAR                          38
MAHARASHTRA                    35
RAJASTHAN                      33
TAMIL NADU                     32
KARNATAKA                      30
ORISSA                         30
ASSAM                          27
GUJARAT                        26
JHARKHAND                      24
ANDHRA PRADESH                 23
JAMMU AND KASHMIR              22
HARYANA                        21
PUNJAB                         20
WEST BENGAL                    19
CHATISGARH                     18
ARUNACHAL PRADESH              16
KERALA                         14
UTTARANCHAL                    13
HIMACHAL                       12
NAGALAND                       11
MIZORAM                         9
MANIPUR                         9
DELHI                           9
MEGHALAYA                       7
SIKKIM                          4
TRIPURA                         4
PONDICHERRY                     4
ANDAMAN And NICOBAR ISLANDS     3
GOA                             2
DAMAN AND DUI                   2
DADAR NAGAR HAVELI              1
CHANDIGARH                      1
LAKSHADWEEP                     1
Name: count, dtype: int64

### For each state, display the district that gets the highest rainfall in May. Also display the recorded rainfall.

In [74]:
df_rain[df_rain['STATE_UT_NAME'] == 'ARUNACHAL PRADESH']
df_q6

                   STATE_UT_NAME        DISTRICT    MAY
0    ANDAMAN And NICOBAR ISLANDS         NICOBAR  358.5
1    ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN  374.4
2    ANDAMAN And NICOBAR ISLANDS   N & M ANDAMAN  343.6
3              ARUNACHAL PRADESH           LOHIT  306.4
4              ARUNACHAL PRADESH      EAST SIANG  323.0
..                           ...             ...    ...
636                       KERALA          IDUKKI  232.6
637                       KERALA        KASARGOD  217.6
638                       KERALA  PATHANAMTHITTA  294.7
639                       KERALA         WAYANAD  174.6
640                  LAKSHADWEEP     LAKSHADWEEP  171.7

[641 rows x 3 columns]

In [82]:
df_q6 = df_rain[['STATE_UT_NAME','DISTRICT','MAY']]
idx = df_q6.groupby(['STATE_UT_NAME'])['MAY'].idxmax()
df_q6.loc[idx]

STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS      1
ANDHRA PRADESH                 544
ARUNACHAL PRADESH               10
ASSAM                           31
BIHAR                          194
CHANDIGARH                     306
CHATISGARH                     519
DADAR NAGAR HAVELI             479
DAMAN AND DUI                  480
DELHI                          307
GOA                            488
GUJARAT                        458
HARYANA                        303
HIMACHAL                       341
JAMMU AND KASHMIR              349
JHARKHAND                      154
KARNATAKA                      598
KERALA                         628
LAKSHADWEEP                    640
MADHYA PRADESH                 451
MAHARASHTRA                    493
MANIPUR                         55
MEGHALAYA                       46
MIZORAM                         62
NAGALAND                        75
ORISSA                         135
PONDICHERRY                    592
PUNJAB                         325
RAJASTHAN                      390
SIKKIM                          92
TAMIL NADU                     563
TRIPURA                         82
UTTAR PRADESH                  234
UTTARANCHAL                    279
WEST BENGAL                     86
Name: MAY, dtype: int64

                   STATE_UT_NAME       DISTRICT    MAY
1    ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN  374.4
544               ANDHRA PRADESH  VISAKHAPATNAM   96.6
10             ARUNACHAL PRADESH     PAPUM PARE  453.0
31                         ASSAM      KARIMGANJ  604.0
194                        BIHAR     KISHANGANJ  155.7
306                   CHANDIGARH     CHANDIGARH   30.1
519                   CHATISGARH         BASTAR   38.6
479           DADAR NAGAR HAVELI            DNH    7.4
480                DAMAN AND DUI          DAMAN    7.4
307                        DELHI      NEW DELHI   19.3
488                          GOA      NORTH GOA   94.3
458                      GUJARAT          DANGS   12.5
303                      HARYANA      PANCHKULA   27.9
341                     HIMACHAL  LAHUL & SPITI   91.7
349            JAMMU AND KASHMIR      BARAMULLA  111.4
154                    JHARKHAND          PAKUR   86.1
598                    KARNATAKA          UDUPI  193.8
628                       KERALA      ERNAKULAM  300.4
640                  LAKSHADWEEP    LAKSHADWEEP  171.7
451               MADHYA PRADESH  ANUPPUR(SHAHD   19.9
493                  MAHARASHTRA       KOLHAPUR   60.2
55                       MANIPUR     TAMENGLONG  539.9
46                     MEGHALAYA  EAST KHASI HI  733.7
62                       MIZORAM         AIZAWL  351.4
75                      NAGALAND          WOKHA  325.6
135                       ORISSA       GAJAPATI  136.8
592                  PONDICHERRY    PONDICHERRY   43.6
325                       PUNJAB       RUPNAGAR   25.6
390                    RAJASTHAN      JHUNJHUNU   20.7
92                        SIKKIM   NORTH SIKKIM  355.4
563                   TAMIL NADU    KANYAKUMARI  141.5
82                       TRIPURA  NORTH TRIPURA  440.1
234                UTTAR PRADESH      BALRAMPUR   38.6
279                  UTTARANCHAL     UTTARKASHI  102.1
86                   WEST BENGAL    COOCH BEHAR  345.4

In [80]:
def get_max_score(group):
    return group.loc[group['MAY'].idxmax()]

max_scores = df_q6.groupby('STATE_UT_NAME').apply(get_max_score)
max_scores.reset_index(drop=True, inplace=True)
max_scores

<ipython-input-80-1469a8b1c275>:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  max_scores = df_q6.groupby('STATE_UT_NAME').apply(get_max_score)

                  STATE_UT_NAME       DISTRICT    MAY
0   ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN  374.4
1                ANDHRA PRADESH  VISAKHAPATNAM   96.6
2             ARUNACHAL PRADESH     PAPUM PARE  453.0
3                         ASSAM      KARIMGANJ  604.0
4                         BIHAR     KISHANGANJ  155.7
5                    CHANDIGARH     CHANDIGARH   30.1
6                    CHATISGARH         BASTAR   38.6
7            DADAR NAGAR HAVELI            DNH    7.4
8                 DAMAN AND DUI          DAMAN    7.4
9                         DELHI      NEW DELHI   19.3
10                          GOA      NORTH GOA   94.3
11                      GUJARAT          DANGS   12.5
12                      HARYANA      PANCHKULA   27.9
13                     HIMACHAL  LAHUL & SPITI   91.7
14            JAMMU AND KASHMIR      BARAMULLA  111.4
15                    JHARKHAND          PAKUR   86.1
16                    KARNATAKA          UDUPI  193.8
17                       KERALA      ERNAKULAM  300.4
18                  LAKSHADWEEP    LAKSHADWEEP  171.7
19               MADHYA PRADESH  ANUPPUR(SHAHD   19.9
20                  MAHARASHTRA       KOLHAPUR   60.2
21                      MANIPUR     TAMENGLONG  539.9
22                    MEGHALAYA  EAST KHASI HI  733.7
23                      MIZORAM         AIZAWL  351.4
24                     NAGALAND          WOKHA  325.6
25                       ORISSA       GAJAPATI  136.8
26                  PONDICHERRY    PONDICHERRY   43.6
27                       PUNJAB       RUPNAGAR   25.6
28                    RAJASTHAN      JHUNJHUNU   20.7
29                       SIKKIM   NORTH SIKKIM  355.4
30                   TAMIL NADU    KANYAKUMARI  141.5
31                      TRIPURA  NORTH TRIPURA  440.1
32                UTTAR PRADESH      BALRAMPUR   38.6
33                  UTTARANCHAL     UTTARKASHI  102.1
34                  WEST BENGAL    COOCH BEHAR  345.4